/* Quick Links */
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none !important;
    color: rgb(182, 182, 182)!important;
    font-size: 17px !important;
}
ul li a::before{
    content: "\2022";
    color: #ffce3e;
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
}
ul li a:hover{
    color: rgb(255, 182, 6)!important;
}

/* Social Links */
#icons a{
    background-color:rgb(142 142 142 / 85%);
    color: white;
    width: 35px;
    height: 35px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
#icons a:hover{
    background-color:rgb(94 94 94 / 82%);
    color: rgb(255, 182, 6);
}
#icons a i{
    font-size: 20px;
}

@media only screen and (max-width:688px){
    /* Footer Image */
    #footer-img{
        padding-left:20px;
    }
    
    /* Social Links */
    #quick-links{
        padding-left:40px;
        margin: 20px 0px;
    }
    #quick-links ul{
        margin: 0px 0px !important;
    }
    #icons{
        padding-left:30px;
    }
}